//
//
// styles for children posts components
//
//

section.children-posts.popup {
  .columns {
    margin: 0;
  }

  article.child-post .post-thumbnail {
    height: 100%;

    img {
      object-fit: cover;
      aspect-ratio: 1 / 1;
    }
  }

  padding: 0;
}

//
//
// layout for post's modal window
//
//
// tune for admin bar
@include modal-website-header-with-admin-bar(".modal-post");

body.admin-bar .modal-post .site-main {
  margin-top: 32px + 75px + 45px !important;
}

.modal-post {
  .site-main {
    margin-top: 75px + 45px;

  }
}
