//
// content blocks
//

// one column content - rigjt aligned on desktop
@mixin long-read-1-column {
  align-self: end;
  flex-grow: 0;
  flex-shrink: 0;
  display: block;
  width: calc(67% + 2px);
  padding-right: grid();
  padding-left: grid();

  @include bordered(left);

}

// full width content
@mixin long-read-full-width {
  padding-left: grid();
  padding-right: grid();
}


@mixin long-read-block {
  @include bordered(bottom);
}

//
// headings gradient builder
//

@mixin header-gradient($header-level) {
  position: relative;
  background-color: inherit;

  &:after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    content: "";
    background-color: $white;
    opacity: 0.2 + 0.2 * ($header-level - 1);
  }
}

//
//
// common styles for posts of all levels
//
//
body.single-post .site-main article.post {
  z-index: 0;
  @include header-gradient(1);

  //
  // disable gradient background for content blocks
  //
  > .entry-content > *:not(article) {
    background-color: $white;
  }

  //
  // header of the post
  //
  > header {
    position: relative;
    display: flex;
    flex-direction: row;

    @include long-read-block;

    .post-thumbnail {
      flex-basis: calc(33%);
      flex-grow: 1;
      flex-shrink: 1;

      @include bordered(right);

      img {
        height: 100%;
        width: auto;
        object-fit: cover;
      }
    }

    .text-headers {
      display: flex;
      flex-direction: column;
      flex-basis: 67%;

      @include header-gradient(1);

      h1 {
        font-size: $long-read-h1;
        text-align: right;
        padding-right: grid();
        padding-left: grid();

      }

      .categories {
        text-align: right;
        padding-right: grid();
        padding-left: grid();
        margin-top: auto;
        a {
          @extend %is-family-monospace;
          @extend %is-not-underlined;
          font-size: $text-size-big;
          font-style: normal;
        }
      }

      .event-dates {
        text-align: right;
        padding-right: grid();
        padding-left: grid();

        font-size: $text-size;

        @extend %is-family-monospace;
      }
    }
  }

  //
  // content
  //
  .entry-content {

    display: flex;
    flex-direction: column;

    //
    //
    // post specific elements
    //
    //
    p {
      font-size: $text-size;
      @include line-height(1);

      &:first-of-type {
        padding-top: grid(2);
      }
    }

    .wp-block-buttons {
      padding-bottom: grid(2);


      .wp-block-button {
        margin: 0;

        &:not(:last-child) {
          margin-right: grid(1);
        }
      }
    }

    //
    //
    // full width components
    //
    //

    > h2 {
      @include long-read-full-width;
      @include long-read-block;

      @include header-gradient(2);

      font-size: $long-read-h2;
      font-weight: 200;
      line-height: 1.25;
      text-align: right;
    }

    > h3 {
      // @include long-read-1-column;
      @include long-read-full-width;
      @include long-read-block;

      @include header-gradient(3);

      // @extend .is-family-monospace;
      font-size: $long-read-h3;
      line-height: 1.25;
      // padding-left: calc(33vw + 2px + 0.5rem);
      font-weight: normal;
      // background-color: $red;
      // color: white;
    }

    //
    //
    // one column
    //
    //
    > p {
      @include long-read-1-column;

      padding-bottom: grid(2);

      //
      // borders for next non paragraph element
      //
      & + figure,
      & + .wp-block-columns {
        @include bordered(top);
      }
    }

    //
    // figure - one and gallery
    //
    > figure {
      &.wp-block-image {
        display: flex;
        flex-direction: row;

        margin: 0;

        @include long-read-block;

        & + p {
          padding-top: grid(2);
        }

        figcaption {
          order: 1;
          flex-basis: 16%;
          flex-shrink: 0;
          flex-grow: 0;
          margin: 0;

          @include bordered(right);

          @extend %is-family-monospace;

          margin-left: auto;
          text-align: right;
          padding-right: grid();
          padding-top: grid();

        }

        a {
          order: 2;
          flex-grow: 0;
          flex-shrink: 0;
          flex-basis: calc(67%);

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
      }

      &.wp-block-gallery {
        @include long-read-block;
      }
    }

    //
    // buttons like p
    //
    > .wp-block-buttons {
      @include long-read-1-column;
      // @include long-read-block;
    }

    //
    //
    // two columns layout
    //
    //
    .wp-block-columns {
      width: 100%;
      margin-bottom: 0;

      // @include long-read-block;

      h2 {
        font-size: $long-read-h2;
      }

      h3 {
        padding-left: grid(1);
        padding-right: grid(1);
        font-size: $long-read-h3;
        padding-top: grid(2);

        width: fit-content;

        span {
          border-bottom: $red solid 0.25em;
        }
      }

      h4 {
        padding-left: grid(1);
        padding-right: grid(1);
        font-size: $long-read-h4;
        padding-top: grid(2);

        width: fit-content;

        span {
          border-bottom: $red solid 0.25em;
        }
      }


      .wp-block-image {
        margin: 0;

        img {
          height: 100%;
          object-fit: cover;
        }
      }

      //
      // all columns settings
      //
      .wp-block-column {
        flex-grow: 1;
        flex-shrink: 1;

        flex-basis: 67%;

        // padding-top: 2rem;
        margin-left: 0;
        margin-right: 0;
        padding-left: 0;
        padding-right: 0;

        p {
          // second column
          // width: 50%;
          padding-left: grid(1);
          padding-right: grid(1);

          margin-bottom: grid(2);
        }

        .wp-block-buttons {
          padding-bottom: grid(2);

          padding-left: grid();
          padding-right: grid();
        }
      }

      //
      // first column specific settings
      //
      .wp-block-column:first-child {
        width: 33%;
        flex-basis: 33%;
        @include is-family-monospace;
        @include bordered(right);

        p {
          // full width for  first columnd
          font-size: $text-size-small;

          width: auto;
        }

        strong {
          color: $red;
        }

        .wp-block-image {
          img {
            width: 100%;
          }
        }

        .wp-block-button a {
          @extend .small;
        }

      }
    }

    //
    //
    // block separator
    //
    //

    .wp-block-separator {
      margin: 0;
      border-top: 1px solid $black;
      border-bottom: 1px solid $black;
    }
  }
}

//
//
// root level post
//
//
body.single-post .site-main > article.post {
}
