body.admin-bar #modal-menu .site-header {
  margin-top: 32px !important;
}

body.admin-bar #modal-menu .now-in-typography {
  margin-top: 32px + 75px !important;
}

body.admin-bar #modal-menu .home-about {
  margin-top: 32px + 75px + 45px !important;
}


#modal-menu {
  align-items: none;
  justify-content: flex-start;
  
  .modal-background {
    z-index: -1;
    background-color: $white;
  }

  .modal-content {
    max-height: none;
    width: 100%;
    margin: 0;
    overflow-x: hidden;
    scrollbar-width: none;
  }

  section.home-about {
    margin-top: 75px + 45px;
    
    color: $white;

    a {
      text-shadow: 0 0 1em $red;
    }
  }

  section.menu-image img {
    height: 100%;
    object-fit: cover;
  }

  header.site-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;

    background-color: $white;
    
    .menu-button {
      @extend .is-hidden;
    }
  }

  .modal-close {
    position: static;
  }

  header.now-in-typography {
    background-color: $black;
    color: $white;

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    margin-top: 75px;
    
    a,
    span{
      color: $white
    }
  }
}

//
//
// site header
//
//
.site-header {
  @extend .level;
  @extend .is-mobile;

  padding-left: 0.5rem;
  padding-right: 0.5rem;
  margin-bottom: 0;
  
  border-bottom: 2px solid $black;

  &:not(:last-child) {
    margin-bottom: 0;
  }

  @include mobile {
    height: 44px;
  }

  @include tablet {
    height: 75px;
  }

  //
  // default element appearance
  //
  a {
    @extend %header-link;
  }
  
  //
  // header components
  //
  .menu-button {
    &.mobile {
      @extend .is-hidden-tablet;
      @extend .level-right;
    }

    &.tablet {
      @extend .is-hidden-mobile;
      @extend .level-left;

      a {
        font-size: 25px;
        text-transform: uppercase;
        color: $black;
      }
    } 

    a {
      @extend .level-item;

      svg {
        height: 2.5rem;
      }
    }
  }

  .close-menu-button {
    &.mobile {
      @extend .is-hidden-tablet;
      @extend .level-right;      
    }

    &.tablet {
      @extend .is-hidden-mobile;
      @extend .level-left;
    }

    svg {
      vertical-align: middle;
    }
  }

  .about-button {
    @extend .is-hidden-tablet;
    @extend .level-left;

    a {
      @extend .level-item;

      svg {
        height: 2rem;
      }
    }
  }

  .logo {
    @extend .level-item;
    margin: 0 !important;

    a {
      line-height: 1;
    }

    svg {
      height: 2rem;
    }
  }

  .search-lang-buttons {
    @extend .is-hidden-mobile;

    
    font-size: 25px;
      
    a {
      text-transform: uppercase;
      
      &.search-button {
        color: $primary-light;
      }

      &.lang-button {
        color: black;
      }
      
    }    
  }
}

header.now-in-typography {
  height: 45px;
  font-size: 18px;

  // @extend .level;
  // @extend .level-left;    

  @extend .is-family-monospace;
  @extend .is-hidden-mobile;

  border-bottom: 2px solid $black;
  // margin-bottom: 1rem;
  
  align-items: center;
  display: flex;

  a {
    @extend %header-link;
    @include is-family-monospace;
  }
  
  > span,
  a {
    // @extend .level-item;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
    min-width: fit-content;

    color: $black;
  }

  a:hover {
    text-decoration: underline;
    text-decoration-color: $black;
    text-decoration-style: dotted;
    text-decoration-thickness: 2px;
    color: $link;
  }
}


// .main-navigation {
// 	display: block;
// 	width: 100%;

// 	ul {
// 		display: none;
// 		list-style: none;
// 		margin: 0;
// 		padding-left: 0;

// 		ul {
// 			box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
// 			float: left;
// 			position: absolute;
// 			top: 100%;
// 			left: -999em;
// 			z-index: 99999;

// 			ul {
// 				left: -999em;
// 				top: 0;
// 			}

// 			li {

// 				&:hover > ul,
// 				&.focus > ul {
// 					display: block;
// 					left: auto;
// 				}
// 			}

// 			a {
// 				width: 200px;
// 			}

// 			:hover > a,
// 			.focus > a {
// 			}

// 			a:hover,
// 			a.focus {
// 			}
// 		}

// 		li:hover > ul,
// 		li.focus > ul {
// 			left: auto;
// 		}
// 	}

// 	li {
// 		position: relative;

// 		&:hover > a,
// 		&.focus > a {
// 		}
// 	}

// 	a {
// 		display: block;
// 		text-decoration: none;
// 	}

// 	.current_page_item > a,
// 	.current-menu-item > a,
// 	.current_page_ancestor > a,
// 	.current-menu-ancestor > a {
// 	}
// }

// /* Small menu. */
// .menu-toggle,
// .main-navigation.toggled ul {
// 	display: block;
// }

// @media screen and (min-width: 37.5em) {

// 	.menu-toggle {
// 		display: none;
// 	}

// 	.main-navigation ul {
// 		display: flex;
// 	}
// }

// .comment-navigation,
// .posts-navigation,
// .post-navigation {

// 	.site-main & {
// 		margin: 0 0 1.5em;
// 	}

// 	.nav-links {
// 		display: flex;
// 	}

// 	.nav-previous {
// 		flex: 1 0 50%;
// 	}

// 	.nav-next {
// 		text-align: end;
// 		flex: 1 0 50%;
// 	}
// }
