//
//
// link abstractions
//
//
@mixin is-underlined($color: currentColor) {
  text-decoration: none;
  border-bottom: $color solid 0.15em;  
}

@mixin is-not-underlined {
  text-decoration: none !important;
  border-bottom: none !important;  
}

%is-not-underlined {
  text-decoration: none;
  border-bottom: none;    
}


//
// header link
//
%header-link {
  @include is-not-underlined;
  font-style: normal;
  font-weight: normal;
  font-size: 100%;
  color: inherit;
  @extend %is-family-primary;
}


//
// links in text
//
%text-link {
  @include is-underlined;
  // font-family: "Robot Slab";
  // font-weight: bold;
  // font-style: italic;
  // letter-spacing: -0.076em;

  // @include is-family-secondary;

  font-family: inherit;
  font-weight: inherit;
  font-style: italic;

  &:hover {
    color: $red;
    @include is-underlined($red);
    
  }
}


//
//
// default decoration links in text
//
//
a {
  @extend %text-link;
}


//
// post thumnail image links are not decorated
//
a.post-thumbnail {
  @include is-not-underlined;
}
